.NavBar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: "Montserrat-Regular", sans-serif;
  border-right: 1px solid #c4c8ca;
  height: calc(100vh - 70px);
  width: 165px;
}

.NavBar li {
  list-style-type: none;
  line-height: 3rem;
}

.NavBar li a {
  text-decoration: none;
  color: #5b6772;
  margin: 0 1.5rem;
}

.NavBar li a:hover {
  font-family: "Montserrat-SemiBold", sans-serif;
}

.NavBar li:first-child{
  margin-top: 2rem;
}

.NavBar .sign-out-button {
  margin-top: auto;
  width: 100%;
}

.nav-link.active {
  background-color: #d0d0e8;
  color: #202049;
  font-family: "Montserrat-SemiBold", sans-serif;
  display: inline;
  padding: 0.6rem 10rem 0.6rem calc(1.5rem - 6px);
  margin: 0;
  border-left: 6px solid #4C4C9B;
}